p {
  font-size: 16px;
  line-height: 1.5;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

* {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-tap-highlight-color: transparent;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 400;
  margin: 30px 0 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

* {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-tap-highlight-color: transparent;
}

.photo-gallery {
  color: #313437;
  background-color: #fff;
}

.photo-gallery p {
  color: #7d8285;
}

.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom: 0;
}

.carousel-h3 {
  font-size: 40px;
  color: white;
  font-family: 'Archivo Black', sans-serif;
  text-shadow: 0px 2px 3px black;
}

.carousel-caption {
  width: 70%;
}

.carousel-p {
  /*opacity: 0.80;*/
  font-family: Arimo, sans-serif;
  font-size: 25px;
  /*background-color: black;*/
  color: white;
  text-shadow: 1px 1px 3px black;
}

.link-a {
  color: #007bff;
}

#parallax-box-2 {
  /*text-align: center;*/
  height: 55vh;
  width: 100%;
  background-image: url("../../assets/img/img-bus-2.jpg");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

.event-p {
  font-weight: 400;
  line-height: 34px;
  font-size: 19px;
  text-shadow: 1.2px 0.5px 1.5px black;
  /*font-family: Montserrat, sans-serif;*/
  /*margin-top: 10px;*/
  /*font-size: 16px;*/
}

#add-1-header {
  font-family: arial black;
  font-size: 50px;
  color: white;
  text-shadow: 0px 2px 3px black;
  /*text-align: center;*/
  /*display: table-cell;*/
  vertical-align: middle;
  /*font-weight: bold;*/
  /*line-height: 55px;*/
  /*text-align: center;*/
}

#add-2-header {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 30px;
  color: white;
  text-shadow: 0px 2px 3px black;
  /*text-align: center;*/
  /*display: table-cell;*/
  /*vertical-align: middle;*/
  /*text-align: center;*/
  /*line-height: 40px;*/
  /*margin: 20px 0px 20px 0px;*/
}

#pepsi-cola-link {
  font-size: 40px;
  color: #f40009;
  /*text-decoration: none;*/
  background-color: transparent;
}

#pepsi-cola-link:hover {
  color: #0074D9;
}

#carousel-link {
  color: #007bff;
}

.carousel-link-ed:hover {
  color: #f40009;
  filter: brightness(127%) contrast(108%);
}

.carousel-link-ed {
  color: #007bff;
  filter: brightness(127%) contrast(108%);
}

#parallax-box-3 {
  height: 70vh;
  width: 100%;
  background-image: url("../../assets/img/adam-king-02.png");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

.form-check-label.department-label {
  margin-left: 20px;
  font-family: Montserrat, sans-serif;
  color: rgb(240,38,22);
  font-size: 23px;
  text-shadow: 1px 1px 3px black;
  font-weight: bold;
}

.event-heading {
  font-weight: 500;
  margin: 30px 0 0;
  text-shadow: 1px 1px 3px black;
}

.event-links {
  /*font-weight: 400;*/
  /*line-height: 34px;*/
  font-size: 22px;
  text-shadow: 0.5px 0.5px 1px black;
}

#parallax-box-njf-2 {
  height: 70vh;
  width: 100%;
  background-image: url("../../assets/img/cc-3.png");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#parallax-box-njp-1 {
  width: 100%;
  background-image: url("../../assets/img/img-index-0.jpg");
  background-size: cover;
  display: table;
  background-attachment: fixed;
  font-size: 100%;
  background-position: 0% -30%;
}

#parallax-box-njf-3 {
  height: 70vh;
  width: 100%;
  background-image: url("../../assets/img/cc-4.png");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#parallax-box-njf-4 {
  height: 70vh;
  width: 100%;
  background-image: url("../../assets/img/cc-6.png");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#parallax-box-njf-5 {
  height: 70vh;
  width: 100%;
  background-image: url("../../assets/img/cc-5.png");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

