.brands {
  color: #313437;
  /*background-color: rgba(, 0, 0, 5);*/
}

.brands a {
  display: block;
  text-align: center;
  padding: 40px 0;
}

@media (max-width:767px) {
  .brands a {
    padding: 30px 0;
  }
}

.brands a img {
  display: inline-block;
  margin: 10px 20px;
  vertical-align: middle;
}

#pepsi-cola-h1 {
  font-family: arial black;
  font-size: 60px;
  color: white;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.form-login {
  display: inline-block;
  text-align: center;
  width: 100%;
  /*background-image: url("../../assets/img/06bed2ba4773023018ce636170f0a846.jpg");*/
  /*background-size: cover;*/
  /*display: table;*/
  /*background-attachment: fixed;*/
  /*font-size: 100%;*/
  /*background-position: 0% 10%;*/
}

.form-group.login-form-group {
  background-image: url("../../assets/img/img-index-0.jpg");
  background-position: 0% -30%;
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;
  font-size: 100%;
  background-position: 0% -30%;
}

#header-login-1 {
  font-weight: bold;
  font-size: 58px;
  color: rgb(225,48,34);
  font-family: Montserrat, sans-serif;
  line-height: 55px;
  text-shadow: 1px 1px #000000;
  width: 50%;
  margin-left: 2%;
  margin-top: 6%;
}

.btn.btn-primary.btn-lg.text-center.btn-login:hover {
  /*border-color: #e47d1d;*/
  background-color: #e47d1d;
}

